
        <a href="about" class="active">xWeather</a>
        <a href="index">Temperature</a>
        <a href="air">Air Pollution</a>
        <a href="uv">UV Intensity</a>
        <a href="contact">Contact Us!</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>     