<!DOCTYPE html>
<html>
  <head>
    <!-- header partial -->
    <% include partials/head %>
  </head>
  <body>
    <div class="topnav" id="myTopnav">
          <!-- navbar partial -->
      <% include  partials/header %>
    </div>
    <div class="container">
      <h1>Welcome to xWeather </h1> 
      <h2>Realtime and Actual Weather Data Provider!</h2>
      <br>
      <div>
        <h3>We are Weather Geeks who are thriving to let the world know
          how much a change is possible when you know <b>'What's weather today?'</b>
          Not only you can plan your day, Not only you can sky-rockette your business,
          but <b>You Can Be the Change too! <br> <br>We would like to thank OpenWeatherMap.org 
          for having us here using their prestigious Weather APIs made public.
          This site is of no means of commercial use and only meant for knowlege building and academic purposes.</b>
        <br><br>We will continue extending the functinality of xWeather, so Stay Tuned!</h3>
      </div>
    </div>
    <div>
        <!-- footer partial -->
      <footer>
          <% include partials/footer %>
      </footer>
    </div>
  </body>
</html>