<!DOCTYPE html>
<html>
  <head>
    <!-- header partial -->
    <% include partials/head %>
  </head>
  <body>
      <!-- navbar partial -->
      <% include  partials/header %>
    <div class="container">
      <!-- about body -->

    </div>
    <div>
        <!-- footer partial -->
      <footer>
          <% include partials/footer %>
      </footer>
    </div>
  </body>
</html>