<!DOCTYPE html>
<html>
  <head>
    <!-- header partial -->
    <% include partials/head %>
  </head>
  <body>
    <div class="topnav" id="myTopnav">
          <!-- navbar partial -->
      <% include  partials/header %>
    </div>
    <div class="container">
      <!-- about body -->  
    <h2>Write Us!</h2>
    <h4>
      xWeather Team <br>
      No:06 <br>
      Duplication Road <br>
      Colombo 07 <br>
      Sri Lanka.
    </h4>
    <h2>Mail Us!</h2>
    <h4>xweather@gmail.com</h4>
    <h2>Phone Us!</h2>
    <h4>+9471000000 <br> +9477111111</h4>
    </div>
    <div>
        <!-- footer partial -->
      <footer>
          <% include partials/footer %>
      </footer>
    </div>
  </body>
</html>