<!DOCTYPE html>
<html>
  <head>
    <!-- header partial -->
    <% include partials/head %>
  </head>
  <body>
    <div class="topnav" id="myTopnav">
          <!-- navbar partial -->
      <% include  partials/header %>
    </div>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="lat" type="text" class="ghost-input" placeholder="Enter Latitude" required>
          <input name="lon" type="text" class="ghost-input" placeholder="Enter Longitude" required>
          <input type="submit" class="ghost-button" value="Get Current UV Intensity">
        </form>
            <% if(weather !== null){ %>
            <p><%= weather %></p>
            <% } %>

            <% if(error !== null){ %>
            <p><%= error %></p>
            <% } %>
      </fieldset>
    </div>
    <div>
        <!-- footer partial -->
      <footer>
          <% include partials/footer %>
      </footer>
    </div>
  </body>
</html>
